<section id="ao-vivo"   class=" card container">
                <div class="row">
                    <div class="col m12 ">
                        <h5 class="center">About Campus News</h5>
                        <p class="subtitle center date">get day to update about what happeneing in the college </p>
                        <div class="cards">
                            <div class="card center col m3 l3 s12 ">
                                <div class="in">
                                    <img src="images/trainings.svg"
                                       height="75px" width="75px" />
                                    <p>Trainings & Workshops</p>
                                </div>
                            </div>
                            <div class="card center col m3 l3 s12">
                                <div class="in">
                                    <img src="images/events.svg"
                                         height="75px" width="75px" title="treinar colaboradores"/>
                                    <p>Events</p>
                                </div>
                            </div>
                            <div class="card center col m3 l3 s12">
                                <div class="in">
                                    <img src="images/circulars.svg"
                                        class="ticket"
                                        height="75px" width="75px" title="promover eventos"/>
                                    <p>circulars & Notice Board</p>
                                </div>
                            </div>
                            <div class="card center col m3 l3 s12">
                                <div class="in">
                                    <img src="images/articles.png"
                                        height="75px" width="75px" title="gerar leads"/>
                                    <p>Articles & Tech News</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>