

<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Admin Panel</title>
      <!-- Bootstrap CSS CDN -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css" crossorigin="anonymous">
      <!-- Our Custom CSS -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
      <link rel="stylesheet" href="stylesheets/style4.css">
      <!-- Font Awesome JS -->
      
      <script defer src="assets/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
      <script defer src="assets/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
      <style>
      </style>
   </head>
   <body>
      <div class="wrapper">
         <!-- Sidebar  -->
         <% include admin_sidebar %>
         <!-- Page Content  -->
         <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="container-fluid">
                  <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  </button>
                  <center>Campus News</center>
               </div>
            </nav>
            <main>
               <div class="container-fluid">
                  <div class="jumbotron">
                     <form method="post" action="/addtraining" enctype="multipart/form-data">
                        <div class="form-group row">
                           <div class="col-lg-6 col-xs-12">
                              <label for="ex1">Name</label>
                              <input class="form-control" id="ex1" name="name" type="text">
                              <label for="usr">Conducted By:</label>
                              <input class="form-control" id="usr" type="text" name="conducted_by">
                              <label for="pwd">Price:</label>
                              <input class="form-control" id="pwd" type="text" name="price">
                              <label for="pwd">upload:</label>
                              <input class="form-control" id="pwd" type="file" name="image" required>
                              <label for="pwd">trainerid:</label>
                              <input class="form-control" id="usr" type="text" name="trainerid">
                           </div>
                           <div class="col-lg-6 col-xs-12">
                              <label for="sel1">Select College:</label>
                              <select class="form-control" id="sel1" name="college">
                                 <option value="" selected="">Select College</option>
                                 <option value="Aditya Engineering College">Aditya Engineering College</option>
                                 <option value="Aditya College of Engineering and Technology">Aditya College of Engineering and Technology</option>
                                 <option value="Aditya College of Engineering">Aditya College of Engineering</option>
                                 <option value="Aditya Polytechnic Colleges">Aditya Polytechnic Colleges</option>
                                 <option value="Aditya Forensic College">Aditya Forensic College</option>
                                 <option value="Aditya Pharmacy College">Aditya Pharmacy College</option>
                                 <option value="Aditya Global Business School">Aditya Global Business School</option>
                              </select>
                              <label for="sel1">Select Block:</label>
                              <select class="form-control" id="sel1" name="bhavan">
                                 <option value="" selected="">Select College</option>
                                 <option value="Abdul Kalam Bhavan">Abdul Kalam Bhavan</option>
                                 <option value="Visweswarayya Bhavan">Visweswarayya Bhavan</option>
                                 <option value="Cotton Bhavan">Cotton Bhavan</option>
                                 <option value="K.L.Rao Bhavan">K.L.Rao Bhavan</option>
                                 <option value="Bill Gates Bhavan">Bill Gates Bhavan</option>
                                 <option value="C.V Raman Bhavan">C.V Raman Bhavan</option>
                                 <option value="Newton Bhavan">Newton Bhavan</option>
                              </select>
                              <label for="sel1">Select Floor:</label>
                              <select class="form-control" id="sel1" name="floor">
                                 <option value="Ground Floor">Ground Floor</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                              </select>
                              <label for="pwd">Room No:</label>
                              <input class="form-control" id="usr" name="roomno" type="text">
                              <label for="pwd">Lab:</label>
                              <input class="form-control" id="usr" name="lab" type="text">
                           </div>
                           <div class="col-lg-12 col-xs-12">
                              <label for="ex2">Date</label>
                              <input class="form-control" id="ex2" name="date" type="date">
                           </div>
                        </div>
                        <div class="pull-right">
                           <center><input class="btn btn-primary" type="submit" value="Add"></center>
                        </div>
                     </form>
                  </div>
               </div>
            </main>
            <div class="line"></div>
            <main>
               <div class="jumbotron">
                  <center>
                     <h4 >Trainings</h4>
                  </center>
                  <div class="table-responsive">
                     <table class="table display" id="example">
                        <thead>
                           <tr>
                              <th class="hide">Id</th>
                              <th>Name</th>
                              <th>Tranerid</th>
                              <th>modal</th>
                              <th>Edit</th>
                              <th>Delete</th>
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                  </div>
               </div>
            </main>
            <div class="line"></div>
            <main>
               <div class="container">
                  <div class="row">
                     <div class="col-lg-10 offset-md-1">
                        <div class="card panel-table">
                           <div class="card-header">
                              <div class="row">
                                 <div class="col col-6">
                                    <h3 class="card-title">Trainings and Workshops</h3>
                                 </div>
                                 <div class="col col-6 text-right">
                                    <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                                 </div>
                              </div>
                           </div>
                           <div class="card-body table-responsive">
                              <table class="table table-striped table-bordered table-list">
                                 <thead>
                                    <tr>
                                       <th><em class="fa fa-cog"></em>
                                       </th>
                                       <th class="hidden-xsd-none d-sm-block">ID</th>
                                       <th>File Name</th>
                                       <th>Artist</th>
                                       <th>Composer</th>
                                       <th>Publisher</th>
                                       <th>Genre</th>
                                       <th>Bitrate</th>
                                    </tr>
                                 </thead>
                                 <tbody id="myTable">
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">1</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">2</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">3</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">4</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">5</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">5</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">5</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                    <tr>
                                       <td align="center"> <a class="btn btn-secondary"><em class="fa fa-pencil"></em></a>
                                          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                       </td>
                                       <td class="hidden-xsd-none d-sm-block">5</td>
                                       <td>myMp3</td>
                                       <td>amart</td>
                                       <td>am compo</td>
                                       <td>ampub</td>
                                       <td>amgen</td>
                                       <td>ambit</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="card-footer">
                              <div class="row">
                                 <div class="col col-4">Page 1 of 5</div>
                                 <div class="col col-8">
                                    <ul class="pagination hidden-xsd-none d-sm-block float-right" id="myPager"></ul>
                                    <ul class="pagination d-block d-sm-none float-right">
                                       <li class="page-item"><a href="#" class="page-link">&#xAB;</a>
                                       </li>
                                       <li class="page-item"><a href="#" class="page-link">&#xBB;</a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </main>
            <div class="line"></div>
            <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
      </div>
      </div>
      <!-- jQuery CDN - Slim version (=without AJAX) -->
      <script src="assets/js/jquery-3.2.1.slim.min.js" ></script>
      <!-- Popper.JS -->
      <script src="assets/js/popper.min.js" ></script>
      <script src="assets/js/bootstrap.min.js" ></script>
      <script type="text/javascript">
         $(document).ready(function () {
             $('#sidebarCollapse').on('click', function () {
                 $('#sidebar').toggleClass('active');
             });
         });
        $(document).ready( function () {
    $('#table_id').DataTable();
} );
      </script>
     
   </body>
</html>

