        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Panel</h3>
                <strong>CN</strong>
            </div>

            <ul class="list-unstyled components">


                <li>
                    <a href="#">
                        <i class="fas fa-image"></i>
                        Trainings $ Workshops
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        Circular
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Noticeboard
                    </a>
                </li>
                  <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Articles
                    </a>
                </li>
                      <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Events
                    </a>
                </li>
                      <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Gallery
                    </a>
                </li>
                      <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Campus Drive
                    </a>
                </li>
                      <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Seminars
                    </a>
                </li>
                      <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Exam Updates
                    </a>
                </li>
                      <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Articles
                    </a>
                </li>
            </ul>


        </nav>