      <main id="tab5" class="tabcontent">
       <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         <div class="row cards" >
            
  <div class="card-panel">
    <div class="col grid-example s12 white blue-text"><span class="flow-text">Articles</span></div>
  </div>
     <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
       
        <li class="tab col s3"><a class="active" href="#tech">Tech News</a></li>
      
        <li class="tab col s3"><a href="#articles">Articles</a></li>
      </ul>
    </div>
   
    <div id="tech" class="col s12">
         <div class="col s12 m4">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/m1xhas10144zk8tfp6ad_400x400.png" width="100px" height="230px" >
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p >Be aware of False news in Whatsapp.</p>
            <li class="collection-item date  right">Published on 21/12/2018</li>
        </div>
        <div class="card-action center">
          <a class="btn blue modal-trigger" href="#modal">view </a>

        </div>
      </div>
    </div>
  </div>
                
         
         
         
         
         </div>
    
    <div id="articles" class="col s12">            <div class="col s12 m4">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/2018-09-11-ts3_thumbs-e55-small.jpg" width="100px" height="230px" >
      </div>
      <div class="card-stacked">
        <div class="card-content">
           
                  <p >Pubg next generation emotion</p>
            <li class="collection-item date  ">Published on 21/12/2018</li>
                             
         
        </div>
        <div class="card-action center">
          <a class="btn blue modal-trigger" href="#modal">view </a>

        </div>
      </div>
    </div>
  </div></div>
         
  </div>
     </div>
  
      </main>