 <main id="tab3" class="tabcontent">
      <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         <div class="row cards" >
            
  <div class="card-panel">

<div class="strike">
    <span>Circular</span>
</div>
  </div>
         <div class="row cards" >
           
          
         <div class="row">
              <% circulars.forEach(function(circular) { %>
    <div class="col s12 m4">
        
      <div class="card-panel ">
          <img class="materialboxed" height="400px" width="280px" src="<%= circular.image %>" data-caption="<%= circular.title %>">
          <span class="purple-text"><%= circular.title %> </span><span class="date"> (<%= circular.date %>)
        </span>
      </div>
    </div>
            <% }); %>            

            </div>
     
         </div>
   
     </div>
</main>