      <main id="tab7" class="tabcontent">
      <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         <div class="row cards" >
            
  <div class="card-panel">
    <div class="col grid-example s12 white blue-text"><span class="flow-text">Events</span></div>
  </div>
         <div class="row cards" >
            
             <div class="card col m4">
              <div class="card-image">
                <img class="materialboxed" src="images/valiant-2018112608.jpg">
               
              </div>
              <div class="card-content">
                <p>Technical and Cultural Festival in Vishnu Institute of Technology located at  Bhimavaram, Andhra Pradesh</p>
              </div>
              <div class="card-action center">
                 <a  class="btn #ff5722 deep-orange " href="#">Register</a>
              </div>
            </div>
        </div>

      </main>