<main id="tab1" class="tabcontent">


       <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 

  <% include slider %>
<% include about %>
 <% include map %>       

            </main>