<section class="row" >

<h4 class="header center">Why Aditya</h4>
        <div class="col s12 m6">
        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
              <img src="https://technicalhub.io/img/logo.png"  >
            </div>
          </div>
          <div class="col s12 m9 content">
            <h6  class="header">T-Hub</h6>
            <p >Technical Hub trains students in various disciplines beyond technological labels besides equipping them with skills and creativity required for advancement in their careers.Technical Hub trains students in various</p>
          </div>
        </div>
<hr>
        <div class="row">

          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
              <img src="https://thefundraisingcoach.files.wordpress.com/2012/09/binoculars_guy.jpg"  >
              </div>
          </div>
          <div class="col s12 m9 content">
            <h6  class="header">Visionary</h6>
            <p>To induce higher planes of learning by imparting technical education with International standards,Applied research,Creative Ability,Value based instruction and to emerge as a premiere e</p>
          </div>
        </div>
<hr></div>
<div class="col s12 m6">
        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
            <img src="https://image.flaticon.com/icons/svg/215/215704.svg" >
              </div>
          </div>
          <div class="col s12 m9 content">
            <h6  class="header">Campus Placements</h6>
            <p>we believe employability is more than a skill; it is an attitude, it is a practice. So, we instill this attitude through continuous training in learninSports and games, a very distinctive fg g skills, </p>
          </div>
        </div>
<hr>
        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
            <img src="https://image.flaticon.com/icons/svg/942/942779.svg" >
              </div>
          </div>
          <div class="col s12 m9 content">
            <h6 class="header">Sports</h6>
            <p>Sports and games, a very distinctive feature of maintaining its tradition with fervor, has made Aditya the homeland to outstanding Sports and games, a very distinctive feature of maintaining its tradition with fervor,</p>
          </div>
        </div>
        <hr>
      </div>
</div>
    </div>
</section>
<section>
<h4 class="header center">Reach Aditya</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5007.500461996196!2d82.07006952644942!3d17.09196767994566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1542073370357" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>