            <div id="venue" class="modal modal-fixed-footer">
                        <div class="modal-content">
                           <table>
                              <tbody>
                                 <tr>
                                    <td>College</td>
                                    <td id="clg"></td>
                                 </tr>
                                 <tr>
                                    <td>Block</td>
                                    <td id="block"></td>
                                 </tr>
                                 <tr>
                                    <td>Floor</td>
                                    <td id="floor"></td>
                                 </tr>
                                 <tr>
                                    <td>Room no</td>
                                    <td id="roomno"></td>
                                 </tr>
                                 <tr>
                                    <td>lab</td>
                                    <td id="lab"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green green btn-flat">Close</a>
    </div>
                     </div>