<div id="modal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                           <ul class="collection col s12 l12">
                               <li class="collection-item center"><b>Pubg next generation emotion</b></li>
                              <li  class="collection-item" >“Winner Winner Chicken Dinner!” I first heard this line in the Hollywood heist drama movie 21. Nearly 10 years later, I heard some friends using the line randomly and wondered if they were late in watching that movie or I had been out of earshot on something new. I then learnt this was about an online battle game for mobile – ‘PlayerUnknown’s Battleground’ – and the frenzy around it.
                               </li>
                               <li  class="collection-item">
                               The game is about being the last man standing on a virtual island, where you and 99 others are dropped from a fighter plane. These 99 opponents are not internet bots but real people joining from across the world. Unlike other online battle games, PUBG starts with a casual playback and becomes serious difficulty later.
                               </li>
                                <li  class="collection-item">
                              Overall, PUBG is fun. The transition from casual to extremely difficult provides a new experience every time. In one game, you get the “Winner Winner Chicken Dinner” title and in the next you get killed in the first few seconds for want of a weapon.

Importantly, the game is free and allows in-game purchase. It is addictive, especially if you have friends to team up with. The gameplay is not lengthy but the desire to win makes you play in loop.
                               </li>
                               
                              
                              <li class="collection-item center"><b>Thank You For Reading</b></li>
                             
                           </ul>
                        </div>
                                     <div class="modal-footer center">
     <center> <a href="#!" class="modal-close  center btn blue">close</a></center>
    </div>
                     </div>