
  <div id="gallery" class="modal large">
    <div class="modal-content">
      <h4>Gallery</h4>
        <div class="row">
    <div class="col s12 m12 "> <img class="materialboxed" width="100%" src="http://www.acoe.edu.in/logos/veda/veda.jpg"></div><hr>
    <div class="col s12 m12 "> <img class="materialboxed" width="100%" src="http://www.acoe.edu.in/logos/veda/veda.jpg"></div><hr>
<div class="col s12 m12 "> <img class="materialboxed" width="100%" src="http://www.acoe.edu.in/logos/veda/veda.jpg"></div>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green blue white-text btn-flat">Close</a>
    </div>
  </div>