<div id="trainer" class="modal large modal-fixed-footer">
                        <div class="modal-content">
                           <img class="col s12 l6 m6" id="image1" src="images/sandeep%20siva_certi.jpg">
                           <ul class="collection col s12 m6 l6">
                              <li class="collection-item" id="trainername"></li>
                              <li class="collection-item" id="areas"></li>
                              <li class="collection-item" id="contact"></li>
                              <li class="collection-item"> <a  id="register" class="btn blue " >Register Now</a></li>
                              
                           </ul>

                        </div>
                       <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green green btn-flat">Close</a>
    </div>
    

                     </div>