<div id="modal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                           <ul class="collection col s12 l12">
                               <li id="title" class="collection-item center"><b></b></li>
                              <li id="content" class="collection-item" >
                               </li>
                               
                              
                              <li class="collection-item center"><b>Thank You For Reading</b></li>
                             
                           </ul>
                        </div>
                                     <div class="modal-footer center">
     <center> <a href="#!" class="modal-close  center btn blue">close</a></center>
    </div>
                     </div>