 <main id="tab10" class="tabcontent">
         <div class="row cards" >
            <div class="col grid-example s12 #82b1ff blue accent-1 "><span class="flow-text">Seminars</span></div>
             <div class="col l6 m6 s12 hoverable">
            <table class="white ">
               <thead>
                  <tr>
                     <th>Topic</th>
                     <td>Machine Learning</td>
                  </tr>
                  <tr>
                     <th>Seminar By</th>
                     <td>Dr.Raja gopal Chari </td>
                  </tr>
                  <tr>
                     <th>Organisation</th>
                     <td>BELL Solutions</td>
                  </tr>
                  <tr>
                     <th>date </th>
                     <td>21/02/2018</td>
                  </tr>
                  <tr>
                     <th>audiance</th>
                     <td>CSE Faculty Only</td>
                  </tr>
                   <tr  >
                   <th colspan="2" class="center"> <a class="btn blue modal-trigger center" href="#venue">venue</a></th>
                   </tr>
                
               </thead>
            </table></div>
                          <div class="col l6 m6 s12 hoverable">
            <table class="white ">
               <thead>
                  <tr>
                     <th>Topic</th>
                     <td>Machine Learning</td>
                  </tr>
                  <tr>
                     <th>Seminar By</th>
                     <td>Dr.Raja gopal Chari </td>
                  </tr>
                  <tr>
                     <th>Organisation</th>
                     <td>BELL Solutions</td>
                  </tr>
                  <tr>
                     <th>date </th>
                     <td>21/02/2018</td>
                  </tr>
                  <tr>
                     <th>audiance</th>
                     <td>CSE Faculty Only</td>
                  </tr>
                   <tr  >
                   <th colspan="2" class="center"> <a class="btn blue modal-trigger center" href="#venue">venue</a></th>
                   </tr>
                
               </thead>
            </table></div>
         </div>
      </main>