      <header> <br>
         <div class="container "><a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger  circle hide-on-large-only"><i class="material-icons sider ">menu</i></a></div>
         <ul id="nav-mobile" class="sidenav sidenav-fixed tab">
            <li class="logo">
               <a id="logo-container" href="/" class="brand-logo">
               <img src="images/1335923.png" height="75px" width="95px"></a>
            </li>
            <li class="version center">
               campus news
               <br>
            </li>
            <li class="search">
               <h6 class="center white-text menu">Menu</h6>
            </li>
            <li class="bold "><a   onclick="opentab(event, 'tab1')" id="defaultOpen" class="waves-effect waves-teal tablinks">Home<i class="material-icons">home</i></a></li>
            <li class="bold"><a    onclick="opentab(event, 'tab2')"  class="waves-effect waves-teal tablinks">Trainings & Wokshops<i class="material-icons">settings</i></a></li>
            <li class="bold"><a onclick="opentab(event, 'tab3')" class="waves-effect waves-teal tablinks">Circular<i class="material-icons">settings_remote</i></a></li>
            <li class="bold"><a onclick="opentab(event, 'tab4')" class="waves-effect waves-teal tablinks">Notice board<i class="material-icons">dashboard</i></a></li>
            <li class="bold"><a onclick="opentab(event, 'tab5')" class="waves-effect waves-teal tablinks">Articles<i class="material-icons">description</i></a></li>
       
            <li class="no-padding">
               <ul class="collapsible collapsible-accordion">
                  <li class="bold">
                     <a class="collapsible-header waves-effect waves-teal">Events<i class="material-icons">event_note</i></a>
                     <div class="collapsible-body">
                        <ul>
                           <li><a onclick="opentab(event, 'tab7')"class="waves-effect waves-teal tablinks">College Events<i class="material-icons">developer_mode</i></a></li>
                           <li><a onclick="opentab(event, 'tab8')"class="waves-effect waves-teal tablinks">Gallery<i class="material-icons">photo_filter</i></a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="bold"><a onclick="opentab(event, 'tab9')" class="waves-effect waves-teal tablinks">Campus Drive<i class="material-icons">transfer_within_a_station
               </i></a>
            </li>
            <li class="bold"><a onclick="opentab(event, 'tab10')" class="waves-effect waves-teal tablinks">Seminars<i class="material-icons">devices</i></a></li>
            <li class="bold"><a onclick="opentab(event, 'tab11')" class="waves-effect tablinks">Exam Updates<i class="material-icons">notifications_active</i><span data-badge-caption="updated" class="new badge #43a047 green darken-1">2</span></a></li>
         </ul>
      </header>