<main id="tab2" class="tabcontent">
 <div class="row cards" >
            <div class="col grid-example s12 "><span class="flow-text">Trainings & Workshops</span></div>
           <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image">
                     <img src="images/graphics_6.png" height="250px">
                  </div>
                  <div class="card-content">
                     <span class="card-title">Mean Stack</span>
                     <ul class="collection with-header">
                        <li class="collection-item">Conducted by: T-Hub</li>
                        <li class="collection-item">Timings : Fullday</li>
                        <li class="collection-item">date:22/12/2012</li>
                        <li class="collection-item">price:1200</li>
                     </ul>
                  </div>
                  <div class="card-action center">
                     <a class="btn blue modal-trigger" href="#trainer">trainer info</a>
                     <a class="btn blue modal-trigger" href="#venue">venue</a>
                             <% include modal_trainer %>

                  </div>
               </div>
            </div>
     
         </div>
</main>